
.watch-display{
  display: block;
  color: #777;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 20px;
  width: 40%;
  background: #200e60;
  box-shadow: 0 .10rem 1.75rem 0 #221359;
  
}

.watch-display img{
  width: 100%;
  margin-bottom: 20px; 
}
.watch-display:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.watch-display a {
  color: whitesmoke;
}
.watch-display p {
  margin: 3px 0;
}
.watch-display h2 {
  margin: 2px 0;
}

.more:hover,
.delete:hover {
  text-decoration: underline;
  cursor: pointer;
}
.show{
  display: block;
}
.hide{
  display: none;
}